[Unit]
Description=Update DNS blacklist
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hostsblock
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
